.missionsCard {
    width: 500px;
    min-height: 500px;
    background-color: var(--white);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.titleMissionsCard {
    margin: 15px 0;
    font-size: 18px;
    margin-left: 5px;
}
