.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: var(--font-family-retro);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 180px;
    background-color: var(--white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content {
    display: flex;
    height: 100%;
    width: 100%;
}

.wrapperImage {
    background-color: rgba(199, 160, 8, 0.7);
    border-top-left-radius: 5px;
    padding: 10px;
}

.pokemonImage {
    width: 100%;
    margin: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    border-left-width: 1px;
    border-left-color: gainsboro;
    border-left-style: solid;
    height: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.name {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 2px;
}

.missionCard {
    width: 500px;
    min-height: 500px;
    background-color: var(--white);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.titleMissionCard {
    margin: 15px 0;
    font-size: 18px;
    margin-left: 5px;
}

.mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: antiquewhite;
}

.mission:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.evenMission {
    background-color: var(--white);
}

.mission p {
    font-size: 20px;
}

.mission button {
    height: 50px;
    padding: 10px 20px;
    background-color: var(--red);
    color: var(--white);
    border-radius: 5px;
}
