.chooseOurPokemonScreen {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.chooseOurPokemonScreen .containerPokemons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.chooseOurPokemonScreen .title {
  color: var(--yellow);
  font-size: 90px;
  text-align: center;
  margin-bottom: 50px;
  font-family: var(--font-family-pokemon-solid), Arial, Helvetica, sans-serif;
}

.chooseOurPokemonScreen .containerPokemons .selectedPokemon {
  background: var(--yellow);
  transition: background 0.8s ease;
}

.chooseOurPokemonScreen .containerPokemons button {
  background: transparent;
  border-radius: 50%;
  padding: 30px;
  border: none;
}

.chooseOurPokemonScreen .play {
  font-size: 50px;
  background: var(--red);
  margin-top: 30px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  border: none;
  border-radius: 5px;

  font-family: var(--font-family-retro), Arial, Helvetica, sans-serif;
}

.chooseOurPokemonScreen .play:hover:not(:disabled) {
  color: var(--black);
  transition: color 0.5s ease;
}

.chooseOurPokemonScreen .play:disabled {
  background: var(--gray);
  cursor: not-allowed;
}

@media screen and (max-width: 1000px) {
  .chooseOurPokemonScreen .title {
    font-size: 70px;
  }

  .chooseOurPokemonScreen .containerPokemons button {
    width: 200px;
  }
}
